body {
    background-image: url("https://images.unsplash.com/photo-1523859597145-32eff6e463ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f2bcda175e9f9a5dd7cc16a9ab694bf&auto=format&fit=crop&w=2100&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lato', sans-serif;
}
html {
    height: 100%;
}
#content {
    text-align: center;
    padding-top: 25%;
    color: white;
}
h1 {
    font-weight: 700;
    font-size: 5em;
}
